<div>
  <div>
    <h1>The NI4CE Repeater Stream</h1>
    <p>Created by <a href="https://www.km4fpa.com/" title="Kevin from Auburndale">KM4FPA</a></p>
    <p>Created on November 23rd, 2016</p>
    <p>Last updated November 23rd, 2016</p>
  </div>
  <div>
    <h1>Resources</h1>
    <ul>
      <li>
        <a href="http://ni4ce.org" title="The Nice Repeater System" target="_blank">The NI4CE Repeater System</a>
      </li>
      <li>
        <a href="https://www.centos.org/" title="The CentOS Project" target="_blank">CentOS Linux</a>
      </li>
      <li>
        <a href="https://archlinuxarm.org/" title="A Simple and Updated Linux Distribution" target="_blank">ArchLinux ARM</a>
      </li>
      <li>
        <a href="https://www.ffmpeg.org/" title="World's Best Audio/Video Encoder" target="_blank">ffmpeg</a>
      </li>
    </ul>
  </div>
  <div>
    <h1>Contact</h1>
    <p><a href="mailto:contact@ni4ce-stream.com">contact@ni4ce-stream.com</a></p>
  </div>
</div>
