<div>
  <h1><a href="https://ni4ce-stream.com" title="The NI4CE Repeater Stream">NI4CE Stream</a> <span id="live_label">LIVE</span></h1>
  <nav>
    <span id="play_label">Click to play</span>
    <botton id="play_button"></botton>
  </nav>
</div>
